@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --nav-icons: 1.6rem;
    --welcome-text-main: 2.6rem;
    --welcome-text-second: 1.6rem;
    --text-md: 1.4rem;
    --search-icon: 1.4rem;
    --notification-icon: 2rem;
    --client-number-stats: 3rem;
    --client-text-stats: 1.4rem;
    --section-heading: 2rem;
    --table-heading: 1.4rem;
    --table-text: 1.3rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:not(i) {
    font-family: 'Baloo 2';
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

body {
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashboard-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-inline: 2em;
}

.navigation-wrapper {
    grid-area: nav;
    
}

.navigation {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: black;
    padding: 2em;
    border-radius: 10px;
    h2 {
        color: white;
        font-weight: 800;
        font-size: 5rem;
        padding-block: 1em;
        display: none;
    }
    &__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
        flex: 1;
    }
    &__icon {
        font-size: var(--nav-icons);
        color: white;
    }
    &__logout {
        text-align: center;
        a {
            font-size: var(--nav-icons);
            color: white;
        }
    }
}

/* user menu */
.user-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    grid-area: user;
    &__item {
        display: flex;
        gap: 20px;
        align-items: center;
        width: 100%;
    }
    &__search {
        display: flex;
        align-items: center;
        flex: 1;
        gap: 5px;
        background-color: #f5f5f7;
        padding: 2% 4%;
        border-radius: 10px;
        
        input {
            flex: 1;
            border: none;
            background-color: #f5f5f7;
            font-size: var(--text-md);
            font-weight: 600;
            &:focus {
                outline: none;
            }
        }
        i {
            font-size: var(--search-icon);
        }
    }
    &__notification {
        i {
            font-size: var(--notification-icon);
        }
    }
    &__profile {
        display: flex;
        align-items: center;
        gap: 10px;
        i {
            font-size: 1.1rem;
        }
        img {
            max-width: 40px;
            border-radius: 10px;
        }
    }
}

/* clients stats */
.user-menu__item {
    .clients-stats {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        .number {
            font-size: var(--client-number-stats);
            font-weight: 700;
        }
        .client-text {
            font-size: var(--client-text-stats);
            font-weight: 700;
        }
        .stats {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            flex: 1 1 0px;
            max-width: 250px;
            background-color: #f5f5f7;
            padding-inline: 10%;
            border-radius: 10px;
        }
    }
}


/* welcome banner */
.welcome-banner {
    display: flex;
    grid-area: welcome;
    background-color: #f5f5f7;
    border-radius: 10px;
    position: relative;
    
    &__text {
        margin-block: auto;
        padding-left: 3em;
        padding-block: 1em;

        .name {
            font-size: var(--welcome-text-main);
            font-weight: 800;
        }
        .welcome-message {
            font-size: var(--welcome-text-second);
            font-weight: 600;
        }
    }

    &__imgWrapper {
        img {
            max-width: 265px;
            display: none;
            position: absolute;
            bottom: 0;
            right: 5%;
        }
    }
}
/* Graph/Chart */
.chart-wrapper {
    display: flex;
    flex-direction: column;
    grid-area: chart;

    .chart-stats {
        display: flex;
        align-items: center;
        padding-bottom: 2em;

        .filter {
            background-color: #f5f5f7;
            border-radius: 10px;
            cursor: pointer;
            padding: .3em .7em;
        }

        .filter > *:not(i) {
            font-size: 1.5rem;
            font-weight: 800;
        }
    }

    .chart {
        flex: 1;
        flex-basis: 300px;
        canvas {
            height: 100%;
        }
    }
}

/* clients */
.clients {
    grid-area: clients;

    .clients-table {
        overflow-x: auto;
        overflow-y: auto;
        text-wrap: nowrap;
        width: auto;
    }

    &__list {
        border-spacing: 0 20px;
        max-height: 500px;
        width: 100%;

        .clients-heading {
            th {
                text-align: left;
                font-size: var(--table-heading);
            }
        };

        .client-item {
            td {
                text-align: left;
                background-color: #f5f5f7;
                font-size: var(--table-text);
                font-weight: 500;

                &:first-child {
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   padding-block: 10px;
                   padding-inline: 10px;
                   border-radius: 10px 0 0 10px;
                }
                
                &:last-child {
                    border-radius: 0 10px 10px 0;
                }
            }

            &__email {
                button {
                    background-color: black;
                    border: none;
                    color: white;
                    font-size: var(--text-md);
                    font-weight: 600;
                    text-wrap: nowrap;
                    border-radius: 10px;
                    padding: .3em .6em;
                    cursor: pointer;
                }
            }

            &__image {
                width: 40px;
                border-radius: 10px;
            }
        }
    }
}

.section-heading {
    flex: 1;
    font-size: var(--section-heading);
    font-weight: 800;
}

@media (min-width: 610px) {
    .user-menu {
        flex-direction: row;
    }
}

@media (min-width: 800px) {
    :root {
        --nav-icons: 2rem;
        --welcome-text-main: 3rem;
        --welcome-text-second: 2rem;
        --text-md: 1.6rem;
        --search-icon: 1.6rem;
        --notification-icon: 3rem;
        --client-number-stats: 5rem;
        --client-text-stats: 1.7rem;
        --section-heading: 2.8rem;
        --table-heading: 1.7rem;
        --table-text: 1.5rem;
    }

    .dashboard-wrapper {
        display: grid;
        grid-template-areas: 
        'nav nav'
        'welcome user'
        'chart chart'
        'clients clients';
        padding-inline: 5em;
    }

    .clients-table__list {
        text-wrap: wrap;
    }

    .user-menu {
        flex-direction: column;
    }
}

@media (min-width: 1600px) {
    :root {
        --nav-icons: 2.5rem;
        --welcome-text-main: 4rem;
        --welcome-text-second: 2.5rem;
        --text-md: 1.8rem;
        --search-icon: 2rem;
        --notification-icon: 3rem;
        --client-number-stats: 6rem;
        --client-text-stats: 1.8rem;
        --section-heading: 3rem;
        --table-heading: 1.8rem;
        --table-text: 1.5rem;
    }

    .welcome-banner__imgWrapper {
        img {
            display: block;
        }
    }

    .content {
        flex-direction: row;
        width: 100%;
        min-height: 100%;
    }
    
    .navigation__list {
        flex-direction: column;
    }

    .navigation {
        padding: 4em;
    }

    .dashboard-wrapper {
        display: grid;
        grid-template-areas: 
        'welcome user'
        'clients chart'
        'clients chart'
        'clients lol';
        grid-template-columns: 3fr 1fr;
        column-gap: 40px;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding-inline: 0;
        margin-left: 40px;
        width: 100%;
    }

    body {
        padding: 8em;
    }

    .chart-wrapper {
        max-width: 500px;
    }

    .user-menu {
        align-items: normal;
        &__profile {
            img {
                max-width: 50px;
            }
        }
    }
}